@import '../../style/variables.scss';
.btn {
    margin-top:30px;
    padding: 15px;
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 2px black;
    font-family: 'Aclonica';
    text-shadow: 1px 1px black;
    margin-left: auto;
    margin-right: auto;
}

.red_die{
    background-image: $die_red;
    color:$gold;
    border:none;
    transition: color 500ms ease-in-out,  box-shadow 100ms ease-in-out;
    
    &:hover{
        background-image: $die_red_hover;
        color: $gold_hover;
    }
}

.btn:hover{
    cursor: pointer;
    background-image: $die_red_hover;
    box-shadow: 0px 0px 0px 0px black;
}


i.search{
    background-image: url('../../style/img/search.svg');
    display: block;
}